.icon-cart {
    width: 20px;
    height: 20px;
    margin-right: 20px;
    color: #fff;
}

.icon-cart-container {
    position: relative;
}

.icon-user {
    width: 22px;
    height: 22px;
    margin-right: 20px;
    color: #fff;
    position: relative;
}

.icon-user:hover {
    cursor: pointer;
}

/***/
.user-menu {
    display: none;
    position: absolute;
    width: auto;
    z-index: 1;
    background: #0b0b0d;
    border: 1px solid #ccc;
    padding: 10px;
}

.icon-account {
    width: 15px;
    height: 15px;
}

.user-menu.show {
    display: block; /* Mostrar el menú cuando la clase 'show' está presente */
}

.user-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.user-menu ul li {
    margin-bottom: 5px;
}

.user-menu ul li .user-menu-account a {
    color: #fff;
    text-decoration: none;
}

.user-menu ul li .user-menu-account a:hover {
    text-decoration: underline;
}
/**/

img {
    max-width: 100%;
}

.main-nav {
    color: #fff;
    display: flex;
    justify-content: space-between;
}

.icons {
    display: flex;
    align-items: center; /* Centra verticalmente los íconos */
}

.conteiner-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-bottom: 120px;
    z-index: 0;
    position: relative;
}

.item-producto {
    border-radius: 10px;
}

.item-producto img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px 5px 20px 5px;
    transition: all 0.5s;
    overflow-x: hidden;
}

.item-producto:hover img {
    transform: scale(1.2);
}

.item-producto figure {
    overflow: hidden;
    border-radius: 20px 5px 20px 5px;
}

.item-producto:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.info-product {
    padding: 15px 30px;
    line-height: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    z-index: 2;
}

.price {
    font-size: 18px;
    font-weight: 900;
}

.info-product button {
    border: none;
    background-color: none;
    background-color: black;
    color: #fff;
    padding: 15px 10px;
    cursor: pointer;
    position: relative;
    z-index: 2;
    margin-bottom: 10px;
}

.count-products {
    position: absolute;
    top: 15px;
    right: 8px;
    background-color: black;
    color: #fff;
    font-weight: bold;
    width: 15px;
    height: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 10px;
}

/*Estilos de los botones de compra*/

.add-product {
    width: 100%;
    height: 45px;
    position: relative;
    overflow: hidden;
    border-radius: 20px 5px 20px 5px;
}

.add-product span {
    transition: 0.4s ease-in-out all;
    position: absolute;
    font-weight: bold;
    top: 15px;
    left: 35%;
}

.add-product .icon-button1 {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    z-index: 2;
    left: -40px;
    transition: .3s ease-in-out all;
    opacity: 0;
}

.add-product .icon-button1 svg {
    color: #fff;
    width: 25px;
    height: 25px;
}

.add-product:hover {
    background: #2f9b05;
    transition: .2s ease-in-out all;
}

.add-product:hover span {
    left: 30px;
}

.add-product:hover .icon-button1 {
    left: calc(100% - 50px);
    opacity: 1;
}

.buy-now {
    width: 100%;
    height: 45px;
    position: relative;
    overflow: hidden;
    border-radius: 20px 5px 20px 5px;
}

.buy-now span {
    transition: 0.4s ease-in-out all;
    position: absolute;
    font-weight: bold;
    top: 15px;
    left: 35%;
}

.buy-now .icon-button2 {
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    z-index: 2;
    left: -40px;
    transition: .3s ease-in-out all;
    opacity: 0;
}

.buy-now .icon-button2 svg {
    color: #fff;
    width: 25px;
    height: 25px;
}

.buy-now:hover {
    background: #2f9b05;
    transition: .2s ease-in-out all;
}

.buy-now:hover span {
    left: 30px;
}

.buy-now:hover .icon-button2 {
    left: calc(100% - 50px);
    opacity: 1;
}